:root {
<<<<<<< HEAD
	--color-primary: #ffae00;
	--color-secondary: #0eb582;
	--color-coral: #E9967A;
	--color-violet: #800080;
	--color-pink: #DB7093;
	--color-heading: #192335;
	--color-body: #6b7385;
	--color-white: #ffffff;
	--color-white-off: #FFFFFFAB;
	--color-bodyest: #273041;
	--color-dark: #27272E;
	--color-darker: #192335;
	--color-black: #111113;
	--color-grey: rgba(207,207,207,.24);
	--color-grey2: #f4f5f7;
	--color-gray: #A1A9AC;
	--color-gray-light: #F6F6F6;
	--color-gray-lighter: #ebebeb;
	--color-light: #F5F7FA;
	--color-lighter: #F2F5F9;
	--primary-opacity: #2f57ef21;
	--secondary-opacity: #b966e721;
	--coral-opacity: #E9967A21;
	--violet-opacity: #80008021;
	--pink-opacity: #DB709321;
	--white-opacity: #ffffff21;
	--danger-opacity: #FF000310;
	--warning-opacity: #FF8F3C10;
	--success-opacity: #3EB75E10;
	--black-opacity: rgba(0, 0, 0, 0.04);
	--heading-opacity: #19233550;
	--color-card-1: #fffccf;
	--color-card-2: #ffedff;
	--color-card-3: #ffe8eb;
	--color-card-4: #e9f6ff;
	--color-card-5: #5024D1;
	--color-card-6: #3B3B46;
	--color-success: #3EB75E;
	--color-danger: #FF0003;
	--color-warning: #FF8F3C;
	--color-info: #1BA2DB;
	--color-primary-alt: #D1EBE6;
	--color-primary-light: #f1f7ff;
	--color-primary-lighter: #EEEEFF;
	--color-secondary-alt: #fef4f4;
	--color-extra: rgb(249, 249, 255);
	--color-extra2: #19b57d0a;
	--color-border: #e6e3f1;
	--color-border-2: #e6e3f14f;
	--color-badge-1: #303F5B;
	--color-badge-2: #F2C94C;
	--color-facebook: #3B5997;
	--color-twitter: #1BA1F2;
	--color-youtube: #ED4141;
	--color-linkedin: #0077B5;
	--color-pinterest: #E60022;
	--color-instagram: #C231A1;
	--color-vimeo: #00ADEF;
	--color-twitch: #6441A3;
	--color-discord: #7289da;
	--radius-10: 10px;
	--radius-big: 16px;
	--radius-small: 6px;
	--border-width: 2px;
	--radius: 6px;
	--f-light: 300;
	--f-regular: 400;
	--f-medium: 500;
	--f-semi-bold: 600;
	--f-bold: 700;
	--f-extra-bold: 800;
	--f-black: 900;
	--shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
	--shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	--shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	--shadow-1: 0px 6px 34px rgba(215, 216, 222, 0.41);
	--shadow-slide-item: 0px 0 10px 0 rgba(215, 216, 222, 0.20);
	--shadow-2: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
	--shadow-3: 0 5px 15px 0 rgba(85, 74, 101, 0.37);
	--shadow-5: 0px 20px 70px 0px rgba(0, 0, 0, 0.1);
	--shadow-7: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
	--shadow-8: -5px 18px 60px 0 rgba(210, 210, 234, 0.4);
	--shadow-9: 0 13px 48px 0 rgba(215, 216, 222, 0.44);
	--shadow-10: 0 13px 14px 0 rgba(129, 104, 145, 0.05);
	--shadow-11: 0 0 10px 0 rgba(0, 0, 0, 0.06);
	--transition: 0.3s;
	--transition-2: 256ms ease-in-out;
	--transition-3: transform .85s cubic-bezier(.23,1,.32,1),background .3s,border .3s,border-radius .3s,box-shadow .3s;
	--transition-4: all .25s cubic-bezier(.645,.045,.355,1);
	--font-primary: "Euclid Circular";
	--font-secondary: "Euclid Circular";
	--font-alt: "Source Serif Pro", serif;
	--font-size-b1: 24px;
	--font-size-b2: 18px;
	--font-size-b3: 16px;
	--font-size-b4: 12px;
	--line-height-b1: 1.5;
	--line-height-b2: 1.67;
	--line-height-b3: 1.67;
	--line-height-b4: 1;
	--h1: 52px;
	--h2: 40px;
	--h3: 34px;
	--h4: 30px;
	--h5: 20px;
	--h6: 16px;
	--div-gap-1: 10px;
	--gradient-1: linear-gradient(rgb(255, 255, 255) 0%, rgb(239, 241, 255) 100%);
	--gradient-4: linear-gradient(180deg,#fff,#f6f9ff);
	--gradient-2: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(240, 242, 255) 100%);
	--gradient-3: linear-gradient(90deg, #8DA9FC 0%, #B48DD5 100%);
	--gradient-4: linear-gradient(180deg, #EFF1FF 0%, #FFFFFF 100%);
	--gradient-5: linear-gradient(rgb(239, 241, 255) 0%, rgb(239, 241, 255) 100%);
	--gradient-6: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(251, 199, 226, 0.15), rgba(220, 217, 254, 0.15));
	--gradient-7: linear-gradient(218.15deg, var(--color-secondary) 0%, var(--color-primary) 100%);
	--gradient-8: linear-gradient(270deg, #9e77ff 0%, #4460ff 100%);
	--gradient-9: linear-gradient(180deg, #6827FF 0%, #E3F0FF 100%);
  }

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/IRANSansXFaNum-Thin.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Thin.woff2') format('woff2');		
=======
    --color-primary: #ffae00;
    --color-secondary: #0eb582;
    --color-coral: #E9967A;
    --color-violet: #800080;
    --color-pink: #DB7093;
    --color-heading: #192335;
    --color-body: #6b7385;
    --color-white: #ffffff;
    --color-white-off: #FFFFFFAB;
    --color-bodyest: #273041;
    --color-dark: #27272E;
    --color-darker: #192335;
    --color-black: #111113;
    --color-grey: rgba(207, 207, 207, .24);
    --color-grey2: #f4f5f7;
    --color-gray: #A1A9AC;
    --color-gray-light: #F6F6F6;
    --color-gray-lighter: #ebebeb;
    --color-light: #F5F7FA;
    --color-lighter: #F2F5F9;
    --primary-opacity: #2f57ef21;
    --secondary-opacity: #b966e721;
    --coral-opacity: #E9967A21;
    --violet-opacity: #80008021;
    --pink-opacity: #DB709321;
    --white-opacity: #ffffff21;
    --danger-opacity: #FF000310;
    --warning-opacity: #FF8F3C10;
    --success-opacity: #3EB75E10;
    --black-opacity: rgba(0, 0, 0, 0.04);
    --heading-opacity: #19233550;
    --color-card-1: #fffccf;
    --color-card-2: #ffedff;
    --color-card-3: #ffe8eb;
    --color-card-4: #e9f6ff;
    --color-card-5: #5024D1;
    --color-card-6: #3B3B46;
    --color-success: #3EB75E;
    --color-danger: #FF0003;
    --color-warning: #FF8F3C;
    --color-info: #1BA2DB;
    --color-primary-alt: #D1EBE6;
    --color-primary-light: #f1f7ff;
    --color-primary-lighter: #EEEEFF;
    --color-secondary-alt: #fef4f4;
    --color-extra: rgb(249, 249, 255);
    --color-extra2: #19b57d0a;
    --color-border: #ebebeb;
    --color-border-2: #e6e3f14f;
    --color-badge-1: #303F5B;
    --color-badge-2: #F2C94C;
    --color-facebook: #3B5997;
    --color-twitter: #1BA1F2;
    --color-youtube: #ED4141;
    --color-linkedin: #0077B5;
    --color-pinterest: #E60022;
    --color-instagram: #C231A1;
    --color-vimeo: #00ADEF;
    --color-twitch: #6441A3;
    --color-discord: #7289da;
    --radius-10: 10px;
    --radius-big: 16px;
    --radius-small: 6px;
    --border-width: 2px;
    --radius: 6px;
    --f-light: 300;
    --f-regular: 400;
    --f-medium: 500;
    --f-semi-bold: 600;
    --f-bold: 700;
    --f-extra-bold: 800;
    --f-black: 900;
    --shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
    --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    --shadow-1: 0px 6px 34px rgba(215, 216, 222, 0.41);
    --shadow-slide-item: 0px 0 10px 0 rgba(215, 216, 222, 0.20);
    --shadow-2: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
    --shadow-3: 0 5px 15px 0 rgba(85, 74, 101, 0.37);
    --shadow-5: 0px 20px 70px 0px rgba(0, 0, 0, 0.1);
    --shadow-7: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
    --shadow-8: -5px 18px 60px 0 rgba(210, 210, 234, 0.4);
    --shadow-9: 0 13px 48px 0 rgba(215, 216, 222, 0.44);
    --shadow-10: 0 13px 14px 0 rgba(129, 104, 145, 0.05);
    --shadow-11: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    --transition: 0.3s;
    --transition-2: 256ms ease-in-out;
    --transition-3: transform .85s cubic-bezier(.23, 1, .32, 1), background .3s, border .3s, border-radius .3s, box-shadow .3s;
    --transition-4: all .25s cubic-bezier(.645, .045, .355, 1);
    --font-primary: "Euclid Circular";
    --font-secondary: "Euclid Circular";
    --font-alt: "Source Serif Pro", serif;
    --font-size-b1: 24px;
    --font-size-b2: 18px;
    --font-size-b3: 16px;
    --font-size-b4: 12px;
    --line-height-b1: 1.5;
    --line-height-b2: 1.67;
    --line-height-b3: 1.67;
    --line-height-b4: 1;
    --h1: 52px;
    --h2: 35px;
    --h3: 24px;
    --h4: 22px;
    --h5: 20px;
    --h6: 16px;
    --div-gap-1: 10px;
    --gradient-1: linear-gradient(rgb(255, 255, 255) 0%, rgb(239, 241, 255) 100%);
    --gradient-4: linear-gradient(180deg, #fff, #f6f9ff);
    --gradient-2: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(240, 242, 255) 100%);
    --gradient-3: linear-gradient(90deg, #8DA9FC 0%, #B48DD5 100%);
    --gradient-4: linear-gradient(180deg, #EFF1FF 0%, #FFFFFF 100%);
    --gradient-5: linear-gradient(rgb(239, 241, 255) 0%, rgb(239, 241, 255) 100%);
    --gradient-6: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(251, 199, 226, 0.15), rgba(220, 217, 254, 0.15));
    --gradient-7: linear-gradient(218.15deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    --gradient-8: linear-gradient(270deg, #9e77ff 0%, #4460ff 100%);
    --gradient-9: linear-gradient(180deg, #6827FF 0%, #E3F0FF 100%);
>>>>>>> hadis-branch
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff/IRANSansXFaNum-UltraLight.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/IRANSansXFaNum-Light.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Light.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/IRANSansXFaNum-Medium.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff/IRANSansXFaNum-DemiBold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2');	 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/IRANSansXFaNum-ExtraBold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/IRANSansXFaNum-Black.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 950;
	src: url('fonts/woff/IRANSansXFaNum-ExtraBlack.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-ExtraBlack.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: 1000;
	src: url('fonts/woff/IRANSansXFaNum-Heavy.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Heavy.woff2') format('woff2');		 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/IRANSansXFaNum-Bold.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: PARSAVESTA;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/IRANSansXFaNum-Regular.woff') format('woff'),   
	url('fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2');	
}

body,h1,h2,h3,h4,h5,h6, p {
    font-family: PARSAVESTA;
}

.rbt-header .mainmenu-nav .mainmenu li.with-megamenu .rbt-megamenu, .rbt-header .mainmenu-nav .mainmenu li.has-dropdown .submenu, .rbt-user-wrapper .rbt-user-menu-list-wrapper, .rbt-category-menu-wrapper .category-dropdown-menu, ul.rbt-dropdown-menu li .sub-menu {
    left: auto;
    right: 0
}
.rbt-category-menu-wrapper .category-dropdown-menu {
    text-align: right;
}
.rbt-category-btn .category-text {
    padding-left: 0;
    padding-right: 6px;
}
.quick-access > li.account-access {
    padding-left: 0;
    padding-right: 30px;
}

.quick-access > li.account-access::after {
    left: auto;
    right: 0;
}

.quick-access > li > a i {
    margin-right: 0;
    margin-left: 10px;
}

.rbt-banner-1 .content .shape-wrapper .hero-bg-shape-2 {
    top: 112px !important;
    right: 70px !important;
}

.rbt-banner-1 .content .shape-wrapper .hero-bg-shape-1 {
    right: 5px !important;
}

.rbt-banner-1 .content .shape-wrapper {
    right: -40px;
}

.quick-access > li.access-icon a i {
    margin-left: 0;
}

.rbt-header .logo a img {
    max-height: 70px;
}

.rbt-category-menu-wrapper .category-dropdown-menu .category-menu-item .rbt-vertical-nav {
    padding-left: 20px;
}

.mega-top-banner {
    background-image: url(../images/course/pic6.webp), radial-gradient(100% 100% at 100% 0%, #484C7A 0%, #23263B 100%);
	min-height: 140px;
}

.nav-quick-access li a i {
    padding-left: 7px;
}
.rbt-header .mainmenu-nav .mainmenu li.with-megamenu .rbt-megamenu .wrapper .mega-menu-item li a .rbt-badge-card {
    margin-right: 10px;
}

.rbt-information-list li a span {
    margin-right: 4px;
}

.rbt-information-list li a i {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 2px;
}

ul.rbt-dropdown-menu li a .left-image {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

.rbt-btn.btn-gradient {
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary), var(--color-primary), var(--color-secondary));
    background-size: 300% 100%;
}

.rbt-btn:hover.hover-icon-reverse .btn-text {
    transform: translateX(-23px);
}
.rbt-btn.hover-icon-reverse .btn-icon + .btn-icon i {
    padding-left: 6px;
    padding-right: 0;
}

.rbt-header .mainmenu-nav .mainmenu li:first-child a {
    padding-right: 0;
	padding-left: 17px;
}

.rbt-header .mainmenu-nav .mainmenu li:last-child a {
    padding-right: 17px;
    padding-left: 0;
}

.rbt-mini-cart .rbt-cart-count {
    right: 73%;

}

.rbt-btn.btn-border-gradient {
    background: linear-gradient(90deg, #0eb582, #ffae00);
}

.mega-top-banner-2 {
    background-image: url(../images/course/pic6.webp), radial-gradient(100% 100% at 100% 0%, #484C7A 0%, #23263B 100%);
    min-height: 140px;
}

.mega-top-banner-2 {
    background-image: url(../images/course/pic7.webp), radial-gradient(100% 100% at 100% 0%, #484C7A 0%, #23263B 100%);
    background-size: contain;
    background-position: right 30%;
    margin: -25px;
    width: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
	min-height: 140px;
}

.mega-top-banner-3 {
    background-image: url(../images/course/pic8.webp), radial-gradient(100% 100% at 100% 0%, #484C7A 0%, #23263B 100%);
    background-size: contain;
    background-position: right 30%;
    margin: -25px;
    width: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
	min-height: 140px;
}
.mega-top-banner-4 {
    background-image: url(../images/course/pic23.webp), radial-gradient(100% 100% at 100% 0%, #484C7A 0%, #23263B 100%);
    background-size: contain;
    background-position: right 30%;
    margin: -25px;
    width: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
	min-height: 140px;
}

.mega-top-banner-2 .content .title, .mega-top-banner-3 .content .title, .mega-top-banner-4 .content .title {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.rbt-banner-1 {
    background-image: linear-gradient(180deg, #24b57745, #ffae004d, #FFFFFF 100%) !important;
}

a.rbt-btn-link i, button.rbt-btn-link i, span.rbt-btn-link i {
    padding-left: 0px;
    padding-right: 4px;
}

.header-right .rbt-btn {
    padding: 0 20px;
    background: var(--color-primary);
    height: 40px;
    line-height: 40px;
    color: var(--color-white);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
    border: 0 none;
    outline: none;
}

.header-right .rbt-btn.btn-gradient:hover {
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}

.header-right .rbt-btn.btn-gradient {
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary), var(--color-primary), var(--color-secondary));
    background-size: 300% 100%;
}

.bg-primary-opacity {
    background: var(--color-secondary) !important;
    color: #ffffff !important;
}

.rbt-price .off-price {
    margin-left: 0;
    margin-right: 7px;
}

.rbt-author-meta .rbt-avater {
    margin-right: 0;
    margin-left: 10px;
}

.rbt-price .off-price {
    font-size: 18px;
}

.rbt-price .current-price {
    font-size: 18px;
}

a.rbt-btn-link.left-icon i, button.rbt-btn-link.left-icon i, span.rbt-btn-link.left-icon i {
    padding-left: 4px;
    padding-right: 0;
}

.rbt-feature .icon {
    margin-right: 0;
    margin-left: 15px;
}

.about-style-1 .thumbnail-wrapper .thumbnail.image-1 {
    left: 0px;
    position: relative;
    right: -100px;
}

.about-style-1 .thumbnail-wrapper .thumbnail.image-2 {
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
}

.about-style-1 .thumbnail-wrapper .thumbnail.image-3 {
    position: relative;
    left: 0;
    top: -179px;
    right: 150px;
}

.default-callto-action-overlap {
    padding-top: 120px;
}

.rbt-counterup.border-bottom-gradient::before {
    background: linear-gradient(90deg, #27b474, #ffae00);
}

.rbt-counterup .inner .rbt-round-icon {
    padding: 20px;
}

.rbt-counterup .content {
    direction: ltr;
}

.rbt-counterup .inner .content .counter {
    direction: ltr;
    font-family: 'PARSAVESTA';
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
    font-family: 'PARSAVESTA';
}

.store-category .col-lg-2 {
    flex: 0 0 auto;
    width: 20%;
}

.bg-secondary-opacity, .section-title .subtitle {
    background: var(--color-secondary) !important;
    color: #ffffff !important;
}

.rbt-event-area .slider-btn {
    text-align: center;
    margin-top: 50px;
}

.bg-gradient-3 {
    background: var(--color-extra2) !important;
}

.color-white {
    color: var(--color-heading) !important;
}

.rbt-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffae00;
    box-shadow: inset 0 0 0 1px var(--color-primary);
    transform: scale(2);
    opacity: 1;
}

.bg-gradient-3 .rbt-swiper-pagination .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 5px var(--color-body);
}

.bg-gradient-3 .rbt-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    box-shadow: inset 0 0 0 1px #fcd37f;
}

.rbt-section-gapBottom {
    padding-bottom: 120px;
    padding-top: 120px;
}

.rbt-testimonial-box .inner::before {
    right: auto;
    left: 40px;
}


.about-style-2 .about-wrapper {
    margin-top: auto;
}

.theme-shape::after {
    background-image: linear-gradient(45deg, #13b580, #ffae00);
}

.about-style-2 .slider-btn {
    padding-right: 40px;
    padding-top: 20px;
}

.rbt-arrow-between .rbt-swiper-arrow:hover {
    color: #ffffff;
}

.rbt-arrow-between .rbt-swiper-arrow::after {
    background-color: #ffae00;
}

.rbt-arrow-between .rbt-swiper-arrow {
    color: var(--color-white);
}

.quick.access.col-lg-6.col-md-6.col-sm-6.col-12 {
    display: flex;
}

ul.social-icon.social-default.icon-naked.justify-content-start.mt--20 {
    margin-top: 11px !important;
}

.copyright-style-1 .copyright-link li + li::after {
    left: auto;
    right: 0;
}

.footer-top {
    background-image: linear-gradient(45deg, #24b57726, #ffae0026);
}

.swiper .rbt-cat-box-1 .inner {
    box-shadow: var(--shadow-light);
    box-shadow: var(--shadow-1);
}

.swiper-wrapper {
    padding-top: 30px;
}

.rbt-section-gapBottom {
    padding-bottom: 60px;
    padding-top: 60px;
}

<<<<<<< HEAD
.text-start {
    text-align: right!important;
}
=======
>>>>>>> hadis-branch

.rbt-badge-2 .image {
    margin-right: auto;
    margin-left: 10px;
}

.rbt-minicart-wrapper .product-content {
    padding-left: 0;
    padding-right: 20px;
}

.about-author .thumbnail a img {
    margin-right: 0;
    margin-left: 30px;
}

.popup-mobile-menu .mainmenu .has-menu-child-item > a::after, .popup-mobile-menu .mainmenu .has-dropdown > a::after {
    right: auto;
    left: 0;
}

.popup-mobile-menu .inner-wrapper .inner-top .logo a img {
    max-height: 70px;
}

.aparat svg {
    width: 18px;
    height: 18px;
    fill: #6b7385 !important;
    transition: 0.3s;
}
.footer-top .aparat svg:hover {
    fill: #ffae00 !important;
}

.aparat-header svg {
    width: 18px;
    height: 18px;
    fill: #b3b7bc !important;
    transition: 0.3s;
}
.aparat-header svg:hover {
    fill: #ffffff !important;
}

.aparat-course-details svg {
    width: 18px;
    height: 18px;
    fill: #6d7586 !important;
    transition: 0.3s;
}
/* .aparat-course-details svg:hover {
    fill: #ffffff !important;
} */

.rbt-breadcrumb-default.rbt-breadcrumb-style-3 {
    background-image: linear-gradient(268deg, #24b57745, #ffae004d);
}

.ml--10 {
    margin-left: 0;
    margin-right: 10px;
}

.rbt-show-more-btn::after {
    right: auto;
}

.rbt-course-main-content .course-content-left i {
    padding-right: 0;
    padding-left: 6px;
}

.rbt-list-style-1 li i {
    padding-right: 0;
    padding-left: 10px;
}

.rbt-inner-onepage-navigation {
    border-radius: var(--radius);
}

.review-wrapper span.value-text {
    right: auto;
    left: 0;
}

.review-wrapper .progress {
    margin-left: 0;
    margin-right: 115px;
}

.about-author .thumbnail a img {
    min-width: 60px;
    max-height: 70px;
}

.rbt-gradient-border {
    background: linear-gradient(-145deg, #0eb582, #ffae00) !important;
}


.rbt-price-wrapper.d-flex.flex-wrap.align-items-center.justify-content-center {
    padding: 5px;
    background: #fff3d9;
    border-radius: 5px;
    border: 2px dashed #ffae00;
}

.rbt-badge-2 strong {
    margin-left: 0;
    margin-right: 5px;
}

.contact-with-us .rbt-badge-2 {
    background: rgb(255 255 255 / 80%);
}

.rbt-badge-2 {
    box-shadow: 0 12px 22px 0 rgb(213 213 213 / 28%);
}

.rbt-btn i {
    padding-right: 10px;
    padding-left: 0px;
    padding-left: 5px;
}

.text-md-start {
    text-align: right !important;
}

.rbt-price.large-size .current-price {
    font-size: 25px;
}

.rbt-user-menu-list-wrapper .user-list-wrapper li a img, .rbt-user-menu-list-wrapper .user-list-wrapper li a i {
    max-height: 17px;
    margin-right: 0;
    margin-left: 7px;
}

.copyright-area.copyright-style-1.ptb--20 {
    background-image: linear-gradient(45deg, #24b57726, #ffae0026);
}

.footer-style-1 .footer-top {
    padding-bottom: 50px;
}

.copyright-area a {
    position: relative;
    color: #ffae00;
}

.social-default li a:hover svg{
    fill: #fff !important;
}

.rbt-instructor .about-author .thumbnail a img {
    min-width: 170px;
    max-height: 170px;
}

.rbt-meta li i {
    margin-right: 0;
    margin-left: 5px;
}

.swiper {
    padding-left: 15px;
	padding-right: 15px;
}

.rbt-testimonial-box .clint-info-wrapper .client-info {
    padding-left: 0;
    padding-right: 20px;
}

.popup-mobile-menu .mainmenu .has-menu-child-item > a::after, .popup-mobile-menu .mainmenu .has-dropdown > a::after {
    right: auto;
    left: 0;
}

<<<<<<< HEAD
=======
ul.quick-access-cl-2.ft-link.col-lg-6.col-md-6.col-sm-6.col-6 {
    width: 33%;
}

.footer-top .row.row--15.mt_dec--30 {
    justify-content: space-between;
}

.rbt-btn i {
    padding-right: 5px;
    padding-left: 10px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right;
}

.default-exp-wrapper .filter-inner {
    justify-content: space-around;
}

.rbt-card.card-list-2 .rbt-card-body {
    padding-left: 0;
    padding-right: 30px;
}

.rbt-review .rating {
    margin-right: 0;
    margin-left: 6px;
}

.rbt-card .rbt-card-body .rbt-card-title {
    font-size: 18px;
}

.rbt-btn.btn-sm {
    font-size: 14px;
}

.rbt-card.event-grid-card .rbt-card-body {
    text-align: center;
}

.rbt-product-description .row {
    justify-content: center;
}

.offset-lg-2 {
    margin-left: 0;
}

.rbt-single-product .pro-qty {
    margin-right: 0;
    height: 60px;
    margin-left: 20px;
}

body {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.rbt-single-product-area h2, .h2 {
    font-size: var(--h4);
}

/* تست گالری محصول */


.rbt-single-product-area .swiper{
    padding:0;
}

.rbt-single-product-area .swiper {
    width: 100%;
    height: 100%;
}

.rbt-single-product-area .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbt-single-product-area .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rbt-single-product-area .swiper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.rbt-single-product-area .swiper-slide {
    background-size: cover;
    background-position: center;
}

.rbt-single-product-area .swipr-single-product2 {
    height: 80%;
    width: 100%;
    
}

.rbt-single-product-area .swipr-single-product {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: -32px !important;
}

.rbt-single-product-area .swipr-single-product .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.rbt-single-product-area .swipr-single-product .swiper-slide-thumb-active {
    opacity: 1;
}

.rbt-single-product-area .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-gradient-1 {
    background-image: linear-gradient(268deg, #24b57745, #ffae004d) !important;
}

.rbt-breadcrumb-default .title {
    font-size: 30px;
    margin-bottom: 20px;
}

.comment-list .comment .single-comment .comment-img {
    margin-right: 0;
    margin-left: 20px;
}

.phone-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rbt-conatct-area .rbt-cat-box-1 .inner {
    height: 100% !important;
}

.rbt-conatct-area .rbt-cat-box-1 {
    height: 100% !important;
}

.rbt-header-sec .rbt-header-sec-col {
    flex-basis: auto;
}

.header-info .rbt-information-list li a {
    line-height: 0;
}

.rbt-information-list li a i {
    margin-top: 0;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .rbt-breadcrumb-default .title {
        font-size: 20px;
    }
}

.team-style-default .inner .content .title, .rbt-default-card .inner .content .title {
    font-size: 18px;
}

.inner .addto-cart-btn .rbt-btn {
    padding: 0px 15px;
    height: 45px;
    line-height: 45px;
}

.rbt-btn i {
    padding-left: 0;
}

.bg-gradient-11 {
    background-image: linear-gradient(180deg, #24b57745, #ffae004d, #FFFFFF 100%) !important;
}

p.title-Social-media {
    margin-bottom: 10px;
    text-align: center;
}

.service-card-5.variation-2 .inner .icon a::before {
    background: linear-gradient(90deg, #fcae02, #12b580);
}

.rbt-service-area .row {
    justify-content: center;
}

.rbt-search-dropdown .wrapper form input {
    margin: 0 0 0 12px;
}

.rbt-search-dropdown.active {
    transition: clip 1s linear, opacity 1s linear;
}

.rbt-search-dropdown {
    height: 100vh;
    display: flex;
    align-items: center;
}

.rbt-search-dropdown .wrapper {
    width: 100vw;
}

.rbt-search-dropdown.close-search.active a:hover {
    color: #fff;
}

.rbt-btn.icon-hover .btn-icon {
    margin-inline-start: 7px;
}

ul.symbol-of-trust {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bg-color-primary-opacity {
    background: #ffae0014 !important;
}

.logo a img {
    max-height: 100px;
    object-fit: cover;
}

.symbol-of-trust li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

img.symbol-of-trust-item {
    width: 77px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}

img.symbol-of-trust-item:hover {
    opacity: 0.7;
}

.about-style-1 .thumbnail-wrapper .thumbnail.image-1 {
    left: -100px;
    position: relative;
    right: 0;
}

.rbt-overlay-page-wrapper .breadcrumb-image-container .breadcrumb-image-wrapper {
    background-image: linear-gradient(268deg, #24b57745, #ffae004d) !important;
}

.meta-list li .author-thumbnail {
    margin-right: 0;
    margin-left: 8px;
}

.meta-list li i {
    margin-right: 0;
    margin-left: 6px;
}

.blog-content-wrapper .social-share-block .post-like a i {
    margin-right: 0;
    margin-left: 20px;
}

.comment-list .comment .reply-edit a.comment-reply-link {
    margin-left: 0;
    margin-right: 8px;
}

.comment-list ul.children {
    padding-left: 0;
    padding-right: 75px;
}

.cart-table .table thead tr th:first-child {
    border-radius: 0 6px 6px 0;
}

.cart-table .table thead tr th:last-child {
    border-radius: 6px 0 0 6px;
}

.cart-table .table {
    border-bottom: 8px solid #ffae0052;
    margin: 0;
}

.cart-summary .cart-summary-wrap p span {
    float: left;
}

.cart-summary .cart-summary-wrap h2 span {
    float: left;
}

.cart-table .table thead {
    background-image: none;
}


.cart-table .table tbody tr td {
    text-align: center;
}

.checkout-cart-total ul li span {
    float: left;
}

.checkout-cart-total p span {
    float: left;
}

.checkout-cart-total h4 span {
    float: left;
}

.checkout-form .check-box, .rbt-default-form .check-box {
    float: right;
}

.checkout-form .check-box:last-child, .rbt-default-form .check-box:last-child {
    margin-left: 0;
    margin-right: 70px;
}

input[type=checkbox] ~ label::before, input[type=radio] ~ label::before {
    right: 0;
}

input[type=checkbox] ~ label, input[type=radio] ~ label {
    padding-left: 0;
    padding-right: 20px;
}

input[type=checkbox] ~ label::after, input[type=radio] ~ label::after {
    right: 2px;
}

.rbt-my-account-tab-button a.active, .rbt-my-account-tab-button a:hover {
    background-image: none;
}

.rbt-my-account-tab-button.nav .nav {
    flex-wrap: nowrap;
    background: whitesmoke;
    margin: 0px 10px 10px 10px;
}

.rbt-image-gallery-1 .image-2 {
    right: auto;
    left: 10%;
    top:20%;
}

.faq-1 .rbt-image-gallery-1 .image-2 {
    right: 10%;
    left: auto;
    top:20%;
}

.rbt-header .mainmenu-nav .mainmenu > li > a {
    font-size: 15px;
    padding: 0 12px;
}

.rbt-arrow-between .rbt-swiper-arrow {
    width: 50px;
    height: 50px;
    z-index: 3;
}

.rbt-accordion-style .card .card-header button {
    text-align: right;
}

.rbt-accordion-style .card .card-header button {
    font-size: 16px;
}

.col-lg-12.title-content-production h3 {
    padding: 10px;
    margin-bottom: 0;
    display: flex;

}

.col-lg-12.title-content-production {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffae00;
    margin-bottom: 30px;
    border-radius: 5px;
}

.dropdown-item {
    text-align: right;
}
@media only screen and (max-width: 767px) {
    .rbt-header-top.rbt-header-top-1.top-expended-activation {
        display: none;
    }
    .single-button.w-50 {
        width: 100% !important;
    }
    .cart-table .table tbody tr td {
        text-align: right;
    }
    .col-lg-12.title-content-production {
        flex-direction: column;
    }
    .col-lg-12.title-content-production h3 {
        text-align: center;
        
    }
}

@media only screen and (max-width: 575px) {
    .rbt-search-dropdown .wrapper form input {
        font-size: 14px;
        /* margin-bottom: 15px; */
        margin: 0 0 15px 0;
    }
}
/* تست گالری محصول */
>>>>>>> hadis-branch

@media only screen and (max-width: 767px) {
<<<<<<< HEAD
	.about-style-2 .slider-btn {
		padding-right: 10px;
		padding-top: 20px;
	}
=======
    .about-style-2 .slider-btn {
        padding-right: 10px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .rbt-sorting-list .course-switch-layout {
        display: none;
    }
}

@media only screen and (max-width: 820px) {
    .col-lg-4.col-md-12.col-sm-6.col-12.mt--30 {
        border-bottom: 1px solid #ffae00;
    }
}

@media only screen and (max-width: 993px) {
    .rbt-course-details-area .row {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    ul.quick-access-cl-2.ft-link.col-lg-6.col-md-6.col-sm-6.col-6 {
        width: 50%;
    }
>>>>>>> hadis-branch
}

@media only screen and (max-width: 767px) {
	.header-right .rbt-btn.btn-gradient {
		display: none;
	}
}

@media only screen and (max-width: 820px) {
    .social-default.icon-naked {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .rbt-banner-1 .content .shape-wrapper {
        display: block;
        margin-bottom: -110px;
    }
}

@media only screen and (max-width: 767px) {
    .rbt-banner-1 .content .shape-wrapper img {
        max-width: 370px;
    }
}

@media only screen and (max-width: 767px) {
    .rbt-banner-1 .content .shape-wrapper .hero-bg-shape-2 {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .rbt-banner-1 .content .shape-wrapper .hero-bg-shape-1 {
        width: 126%;
    }
}

@media only screen and (max-width: 767px) {

    .mb--60 {
        margin-bottom: 15px !important;
    }

    .mb--55 {
        margin-bottom: 15px !important;
    }

    .rbt-arrow-between .rbt-swiper-arrow {
        top: 100%;
        bottom: 0 !important;
        z-index: 10!important;
        width: 45px;
        height: 45px;
        opacity: 1;
    }

    .rbt-arrow-between.rbt-dot-bottom-center .rbt-swiper-arrow {
        margin-top: -23px;
    }

    .rbt-dot-bottom-center .rbt-swiper-pagination {
        bottom: 10px;
    }

    .rbt-arrow-between .rbt-swiper-arrow:hover::after {
        transform: scale(1);
    }

    .rbt-btn {
        height: 50px !important;
        line-height: 50px !important;
    }

    .rbt-swiper-pagination .swiper-pagination-bullet {
        margin: 0 8px !important;
    }

    .price__output--wrap .price--filter a.rbt-btn {
        padding: 10px;
        line-height: 16px !important;
        height: auto !important;
    }

    .text-md-start {
        text-align: center !important;
    }


}

@media only screen and (max-width: 767px) {
    h2, .h2 {
        font-size: 22px;
    }
    p, .rbt-feature .feature-content .feature-description {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rbt-banner-1 .content .banner-card {
        position: absolute;
        max-width: 290px;
        bottom: 12%;
        right: auto;
        z-index: 2;
        left: 40px;
    }
}
<<<<<<< HEAD
.bg-color-primary-opacity {
		background: #ffae0014 !important;
	}

.logo a img {
		max-height: 140px;
		object-fit: cover;
	}
=======


>>>>>>> hadis-branch

